footer {
  width: 100%;
  background-color: #39414c;
  position: relative;
  color: white !important;
  clear: both;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  flex-direction: column;

  div {
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.social-callout {
  h3 {
    text-align: center;
    font-family: $cursive-font;
    font-size: 68px;
    transform: translateY(10px);
    letter-spacing: 7px;
  }

  .social-header-icons-footer {
    display: table;
    margin: auto;
    opacity: 1 !important;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        padding: 5px 0 5px 15px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }

        a:hover {
          text-decoration: none;
        }

        .fab {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 30px;
          color: $blue;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }
  }
}


//.home-sec-nine {
//  padding-top: 23px;
//
//  @media(max-width: 767px) {
//    text-align: center;
//    margin-top: 0;
//    padding-top: 35px;
//  }
//
//  .vc_column-inner {
//
//  }
//
//  .content-row {
//    @media(min-width: 1220px) {
//      padding-left: 40px;
//    }
//    @media(max-width: 1199px) {
//      width: 50%;
//    }
//    @media(max-width: 767px) {
//      width: 100%;
//    }
//  }
//
//  .img-col {
//
//    @media(max-width: 1199px) {
//      width: 50%;
//    }
//    @media(max-width: 767px) {
//      width: 100%;
//    }
//  }
//
//  h3 {
//    color: #e7cfa0;
//    font-size: 32px;
//    font-weight: bold;
//    @media(min-width: 992px) {
//      max-width: 245px;
//    }
//
//  }
//}


//}
